body{
    background-color: rgb(62, 160, 252);
    font-family:'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    margin: 2rem;
    font-weight: bolder;
}

.container{
    background-color: rgb(201, 194, 184);
    border-radius: 0.5rem;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem; 
}

.form-items {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

button{
    display: flex;
    padding: 2px;
    align-items: center;
    margin-left: 2rem;
    background-color: rgb(218, 191, 243);
    border-radius: 5px;
}

.list{
    margin-right: 2rem;
}

label{
    font-weight: bold;
}

input{
   height: 2rem; 
   outline: none;
   border-style: none none solid none;
   background-color: rgb(201, 194, 184);
}

textarea{
    outline: none;
    border-style: none none solid none;
    background-color: rgb(201, 194, 184);
}