* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  min-height: 100vh;
}

header, main, footer {
  display: flex;
  justify-content: center;
}

.threeButtons {
  display: flex;
  min-height: 50vh;
}

button {
  margin: 3rem;
  width: 10rem;
  height: 2rem;
}
