* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-image: url('./assets/math_BG.avif');
  background-size: cover;
  min-height: 100vh;
}

h2 {
  font-size: 2rem;
  padding: 5px;
  margin: 5px;
}
.header {
  background-color: black;
}
h1,
h2 {
  color: #efdb02;
}

.header {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 2rem;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.temp {
  background-image: url('./assets/blackboard.avif');
  width: 400px;
  height: 400px;
  border: solid 3px rgb(255, 255, 255);
  border-radius: 10px;
}
.speed {
  background-image: url('./assets/blackboard.avif');
  width: 400px;
  height: 400px;
  border: solid 3px rgb(255, 255, 255);
  border-radius: 10px;
}
.mass {
  background-image: url('./assets/blackboard.avif');
  width: 400px;
  height: 400px;
  border: solid 3px rgb(255, 255, 255);
  border-radius: 10px;
}

button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  border: solid 1px black;
  width: 80px;
  height: 30px;
  font-size: 1rem;
}
button:active {
  transform: scale(1.1);
}

.reset {
  display: flex;
  justify-content: center;
}

.resetBtn {
  margin-top: 30px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  border: solid 1px black;
  width: 100px;
  height: 40px;
  font-size: 1.3rem;
}

input {
  width: 150px;
  height: 30px;
  border-radius: 6px;
  font-size: 1.3rem;
}

p {
  font-size: 1.4rem;
  padding: 5px;
  margin: 5px;
  color: #efdb02;
}

footer {
  background-color: rgb(78, 78, 78);
  min-height: 20px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}
