body {
  background-color: black;
}

main {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 500px;
}

h1 {
  text-align: center;
  color: white;
}

.taskDisplayBody form {
  background-color: white;
  box-shadow: -5px 5px 10px #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.editDiv,
.addDiv {
  background-color: white;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  box-shadow: -5px 5px 10px #efdb02;
}

.addDiv form,
.editDiv form {
  display: flex;
  justify-content: space-between;
}

input {
  width: 75%;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
}

button {
  width: 4rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: whitesmoke;
  color: black;
  border: solid;
  border-color: green;
}

.deleteBtn {
  border-color: rgb(255, 0, 0);
}